body {
    padding-top: 70px;
    background:#FBFBFB;
}

h1, h2, h3 {
    margin-top: 0;
}

.navbar-default .navbar-brand {
    color:#e74c3c;
    font-size:200%;
}


.topic-row {
    background:#FFF;
    border-bottom:1px solid #DDD;
    padding:6px 0;
}

.topic-row h3 {
    margin:0 0 5px;
    font-size:17.5px;
}
.topic-row h3 a {
    color: #555;
}
.topic-row p {margin:0;font-size:13px;}

.sidebar ul li {
    border-bottom: 1px solid #e2e2e2;
    padding: 7px 0;
}
.sidebar ul li a {
    color: #333;
    font-weight: bold;
}

.topics {background:#EEE;padding:3px;}
.topic-title {margin:0 0 20px 0;font-size:30px;font-weight:normal;color:#333}


.posts {}
.post {margin-bottom:20px;}
.post-left {text-align:center;}
.post-right {}
.post-header {background:#FFF;border:1px solid #e7e7e7;padding:7px 14px;border-radius:5px 5px 0 0;border-bottom:none}
.post-body {background:#FFF;border:1px solid #e7e7e7;padding:14px;border-top:none;border-bottom:none;}
.post-footer {background:#FFF;border:1px solid #e7e7e7;padding:7px 14px;border-radius:0 0 5px 5px;}
.post-avatar {width:60px;height:60px;border-radius:3px;margin:0 auto;}
.post-user a {font-weight:bold;font-size:16px;color:#333}
.post-date a {float:right;color:#999;}
blockquote {font-size:14px;font-weight:300;line-height:1.25}