body {

}

h1, h2, h3 {margin-top: 0;}
a,a:hover,a:active,a:focus {color:#07c}
iframe {min-width:560px;min-height:315px;}


.wrap {width:980px;margin-right:auto;margin-left:auto;/*padding-right:15px;padding-left:15px;*/}
.wrap:before {content:" ";display:table;}
.wrap:after {content:" ";display:table;clear:both;}

.navbar {}
.navbar-default {}
.navbar-default .navbar-brand {font-size:200%;}
.navbar-default .navbar-nav>li>a {}
.nav-tabs {margin-bottom:20px;}

.footer {background:#f8f8f8;text-align:center;padding:15px 0;margin-top:20px;border-top:1px solid #e7e7e7;}
.main {width:650px;float:left;}
.sidebar {width:300px;float:left;margin-left:30px;}
.sidebar-left {margin-right:30px;margin-left:0;}

.sidebar ul {margin:0;}
.sidebar ul li {border-bottom: 1px solid #eee;padding:7px;}
.sidebar ul li a {color:#333;font-weight:normal;}

.sidebar-panel {margin-bottom:20px;}
.sidebar-header {background:#07c;height:45px;font-weight:normal;color:white;font-size:20px;line-height:42px;text-align:center}
.sidebar-body {background:#fff;border:3px solid #07c;border-top:none;}
.sidebar-info {margin-bottom:20px;background:#fff8dc;padding:10px;border:1px solid #e0dcbf;color:#9c988b;}
.sidebar-info-title {text-transform:uppercase;font-weight: bold;font-size:11px;color:#9c988b;border-bottom:1px solid #e0dcbf;margin-bottom:10px;padding-bottom:5px;}

.topics {}
.topics-header {padding: 9px 10px 10px;font-weight:bold;font-size: 14px;line-height: 17px;}
.topics-body {background:#FFF;}
.topic-row {border-bottom:1px solid #eee;padding:10px 10px;}
.topic-row h3 {font-size:16px;font-weight:normal;line-height:1.2;margin:0 0 5px;}
.topic-row h3 a {}
.topic-row p {margin:0;font-size:13px;}
.topic-count {background:#f2f2f2;text-align:center;padding:10px;font-size:28px;color:#666;text-transform:uppercase;}
.topic-replies {background:#e6e6e6;text-align:center;padding:6px;text-transform:uppercase;font-size:11px;color:gray}
.topic-author {font-size:12px;color:#888;}
.topic-author a {}
.topic-content {color:#444;margin:0 0 5px;}
.topic-forum a {display:block;background:#e4edf4;color:#3e6d8e;font-size:12px;padding:.25em .5em;line-height:1.4}

.topic-title {margin:0 0 20px 0;padding:0 0 10px 0;font-size:24px;line-height:1.35;font-weight:normal;border-bottom:1px solid #EEE;}
.topic-title, .topic-title a {color:#222;}

.posts {}
.posts:after, .post:after {content:"";display:table;clear:both;}
.post {margin-bottom:15px;border:1px solid #ddd;border-radius:0;}
.post-left {float:left;margin:15px;}
.post-right {}
.post-header {padding:10px 15px 0;}
.post-body {padding:15px;line-height:1.6;font-size:14px;}
.post-body img {max-width:100%;}
.post-footer {background:#f7f7f7;border-top:1px solid #ddd;padding:6px 15px;border-radius:0 0 5px 5px;}
.post-avatar {width:48px;height:48px;border-radius:3px;}
.post-user a {font-weight:bold;font-size:16px;color:#333}
.post-date a {float:right;color:#999;font-size:13px;}

blockquote {
    margin: 0 0 5px;
    padding:5px 8px;
    border:1px solid #ddd;
    overflow: auto;
    font-size: 13px;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.quote-name {font-weight:bold;margin-bottom:5px;}
.emoji {width:24px;height:24px;}

.breadcrumb {padding:6px 15px;border-radius:0;}
.breadcrumb > .active a {color:#777;}

.ad {background:#EEE;border:1px solid #CCC;padding:10px 15px;margin-bottom:20px;}
.ad p {margin:0}







