{% extends "base.html" %}
{% block title %}title{% endblock %}
{% block content %}

<h2>{{ forum.name }}</h2>

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">{{ forum.name }}</li>
</ol>

{% for topic in topics %}
	<div class="row">
		<div class="col-md-9">
			<h3><a href="{{ topic.url }}">{{ topic.title }}</a></h3>
			<p>por <a href="">{{ topic.user.username }}</a> el {{ topic.created|date:"M d, Y" }} en <a href="{{ topic.forum.url }}">{{ topic.forum.name }}</a></p>
		</div>
		<div class="col-md-1 text-center">{{ topic.replies }}</div>
		<div class="col-md-2 text-center"><small>{{ topic.last_post.created|date:"M d, Y" }}<br/><a href="">{{ topic.last_post.user.username }}</a></small></div>
	</div>
{% endfor %}

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">{{ forum.name }}</li>
</ol>

{% endblock %}