{% extends "base.html" %}
{% load extras %}
{% load humanize %}
{% block title %}{{ forum.name }}{% if topics.number > 1 %} - Página {{ topics.number }}{% endif %}{% endblock %}
{% block content %}

<div class="wrap">
	
	<h2 class="topic-title"><a href="{{ forum.url }}">{{ forum.name }}</a></h2>
	
	<div class="main">
		
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active"><a href="{{ forum.url }}">{{ forum.name }}</a></li>
		</ol>
		
		<div class="topics">
		{% for topic in random_topic %}
			<div class="random">
			{% include "topic_row.html" %}
			</div>
		{% endfor %}
		
		{% for topic in topics %}
			{% include "topic_row.html" %}
		{% endfor %}
		</div>
		
		<nav>
			<ul class="pager">
				{% if topics.has_previous %}
					<li class="previous"><a href="?{% url_replace request 'page' topics.previous_page_number %}"><span aria-hidden="true">&larr;</span> anterior</a></li>
				{% endif %}
				<span class="current">Página {{ topics.number }} de {{ topics.paginator.num_pages }}.</span>
				{% if topics.has_next %}
					<li class="next"><a href="?{% url_replace request 'page' topics.next_page_number %}">siguiente <span aria-hidden="true">&rarr;</span></a></li>
				{% endif %}
			</ul>
		</nav>

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active"><a href="{{ forum.url }}">{{ forum.name }}</a></li>
		</ol>
		
	</div>
	
	<div class="sidebar">
		<div class="sidebar-info">
			<div class="sidebar-info-title">Información</div>
			<img src="{{ forum.image }}" width="48" height="48" class="pull-right" alt="{{ forum.name }}">
			<p>Temas: {{ forum.topics|intcomma }}</p>
			<p>Mensajes: {{ forum.posts|intcomma }}</p>
			<p>Página: {{ topics.number }} de {{ topics.paginator.num_pages }}</p>
		</div>
		
		<div class="sidebar-panel">
			<div class="sidebar-header">
				Mejores temas
			</div>
			<div class="sidebar-body">
				{% for topic in best_topics %}
					{% include "topic_row_mini.html" %}
				{% endfor %}
			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
</div>

{% endblock %}