<div class="post" id="post-{{ post.id }}">
	<div class="post-left">
		<a href="{{ post.user.profile.url }}"><img src="{{ post.user.profile.avatar_url }}" class="post-avatar" alt="{{ post.user.username }}"></a>
	</div>
	<div class="post-right">
		<div class="post-header">
			<div class="post-date">
				<a href="{{ post.url }}">{{ post.created|date:"d M Y H:i" }}</a>
			</div>
			<div class="post-user">
				<a href="{{ post.user.profile.url }}">{{ post.user.username }}</a>
			</div>
		</div>
		<div class="post-body">
			{{ post.formatted_content|safe }}
		</div>
	</div>
	<div class="clearfix"></div>
</div>