{% extends "base.html" %}
{% load extras %}
{% block title %}{{ profile.username }}{% if topics.number > 1 %} - Página {{ users.number }}{% endif %}{% endblock %}
{% block content %}

<div class="wrap">
	{% include "profile_sidebar.html" %}
	
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="{{ profile.profile.url }}">Perfil</a></li>
		<li role="presentation"><a href="{{ profile.profile.url }}/topics">Temas</a></li>
		<li role="presentation"><a href="{{ profile.profile.url}}/posts">Mensajes</a></li>
	</ul>
	
	<p>Más información de <b>{{ profile.username }}</b></p>
	<p>ID: #{{ profile.id }}</p>
</div>

{% endblock %}