{% extends "base.html" %}
{% load extras %}
{% block title %}{{ profile.username }}{% endblock %}
{% block content %}

<div class="wrap">
	<div class="sidebar sidebar-left">
		{% include "profile_sidebar.html" %}
	</div>
	
	<div class="main">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="{{ profile.profile.url }}">Perfil</a></li>
			<li role="presentation"><a href="{{ profile.profile.url }}/topics">Temas</a></li>
			<li role="presentation"><a href="{{ profile.profile.url}}/posts">Mensajes</a></li>
		</ul>
	</div>
</div>

{% endblock %}