{% extends "base.html" %}
{% load extras %}
{% block title %}{{ topic.title }}{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">

<h2 class="topic-title">{{ topic.title }}</h2>

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="{{ topic.forum.url }}">{{ topic.forum.name }}</a></li>
	<li class="active">{{ topic.title }}</li>
</ol>

<div class="posts">
{% for post in posts %}
	{% include "post.html" %}
{% endfor %}
</div>

<nav>
	<ul class="pagination">
		{% if posts.has_previous %}
			<li>
				<a href="?{% url_replace request 'page' posts.previous_page_number %}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
		{% endif %}
		
		{% for page in posts.paginator.page_range %}
			<li class="{% if posts.number == page  %}active{% endif %}">
				<a href="?page={{ page }}">{{ page }}</a>
			</li>
		{% endfor %}
		
		{% if posts.has_next %}
			<li>
				<a href="?{% url_replace request 'page' posts.next_page_number %}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		{% endif %}
	</ul>
</nav>

<span class="current">Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</span>

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="{{ topic.forum.url }}">{{ topic.forum.name }}</a></li>
	<li class="active">{{ topic.title }}</li>
</ol>

</div>
</div>
</div>

{% endblock %}