{% extends "base.html" %}
{% load extras %}
{% load humanize %}
{% block title %}Usuarios{% if users.number > 1 %} - Página {{ users.number }}{% endif %}{% endblock %}
{% block content %}

<div class="wrap">
	<h2 class="topic-title">
		<div class="pull-right" style="width:200px;">
		<form action="" method="get" autocomplete="off" role="search">
			<div class="input-group">
				<input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Usuario...">
				<div class="input-group-btn">
					<input type="submit" class="btn btn-default" value="Buscar">
				</div>
			</div>
		</form>
		</div>
		Usuarios ({{ users_count|intcomma }})
	</h2>
	
	<div class="row">
	{% for user in users %}
		<div class="col-xs-6 col-md-4 col-lg-3" style="margin-bottom:25px;">
			
			<a href="{{ user.profile.url }}">
				<img src="{{ user.profile.avatar_url }}" class="post-avatar pull-left" style="margin-right:10px;" alt="{{ user.username }}">
			</a>
			<a href="{{ user.profile.url }}">{{ user.username }}</a><br/>
			<span style="color:#999">{{ user.profile.posts|intcomma }} posts</span>
			
		</div>
		
		{% if forloop.counter|divisibleby:2 %}
		<!-- every 2nd col -->
		<div class="visible-xs visible-sm clearfix divider"></div>
		{% endif %}
		
		{% if forloop.counter|divisibleby:3 %}
		<!-- every 3rd col -->
		<div class="visible-md clearfix divider"></div>
		{% endif %}
		
		{% if forloop.counter|divisibleby:4 %}
		<!-- and every 4th col -->
		<div class="visible-xs visible-sm visible-lg clearfix divider"></div>
		{% endif %}
	{% endfor %}
	</div>
	
	<nav>
		<ul class="pager">
			{% if users.has_previous %}
				<li class="previous"><a href="?{% url_replace request 'page' users.previous_page_number %}"><span aria-hidden="true">&larr;</span> anterior</a></li>
			{% endif %}
			<span class="current">Página {{ users.number }} de {{ users.paginator.num_pages }}.</span>
			{% if users.has_next %}
				<li class="next"><a href="?{% url_replace request 'page' users.next_page_number %}">siguiente <span aria-hidden="true">&rarr;</span></a></li>
			{% endif %}
		</ul>
	</nav>
	
</div>

{% endblock %}